<launch>
  <!-- <node pkg="turtlesim" type="turtlesim_node" name="sim"/> -->

 <!-- joy node -->
  <node respawn="true" pkg="joy"
        type="joy_node" name="joystick_controller" >
    <param name="dev" type="string" value="/dev/input/js0" />
    <param name="deadzone" value="0.12" />
  </node>

 <!-- Axes -->
  <!-- <param name="axis_linear" value="4" type="int"/>
  <param name="axis_angular" value="3" type="int"/>
  <param name="scale_linear" value="1" type="int"/>
  <param name="scale_angular" value="1" type="int"/>
  <node pkg="exa_control" type="exa_teleop" name="teleop"/> -->

<!-- Embedded -->
  <!-- <node name="serial_node"        pkg="rosserial_python"      type="serial_node.py">
  <param name="port"              type="string"               value="/dev/ttyACM0"/>
  <param name="baud"              type="int"                  value="57600"/>
  </node> -->
</launch>
